.card {
  display: flex;
  justify-content: space-between;

  font-family: "Nunito";
  font-weight: 400;

  background-color: rgba(248, 249, 250, 1);

  width: 560px;
  min-height: 87px;
  padding: 8px 18px;
  margin: 18px auto;

  border: 2px solid transparent;
  border-radius: 4px;
}

.card:hover {
  box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.25);
}

.card__containerTitle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  width: 337px;
}

.card__containerTitle h1 {
  font-size: 16px;
  font-weight: 700 bold;

  color: rgba(33, 37, 41, 1);
}

.card__containerTitle p {
  font-size: 12px;

  color: rgba(134, 142, 150, 1);
}

.price,
.delete {
  font-size: 12px;
  margin-top: 10px;
  color: rgba(33, 37, 41, 1);
}

.delete {
  display: flex;
  justify-content: center;

  width: 22px;
  height: 22px;
  padding-top: 5px;

  color: rgba(134, 142, 150, 1);
  background-color: rgba(233, 236, 239, 1);

  border: none;
  border-radius: 2.46px;

  cursor: pointer;
}

.entrada {
  border-left: 4px solid rgba(3, 184, 152, 1);
}

.despesa {
  border-left: 4px solid rgba(233, 236, 239, 1);
}

@media (max-width: 580px) {
  .card {
    width: 90%;
  }
}
